* {
  margin: 0;
}

.App {
  background-color: #dddedd;
  /* background-color: #1c2429; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-dark {
  /* background-color: #dddedd; */
  background-color: #1c2429;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
